<?xml version="1.0" encoding="UTF-8"?>
<wfs:FeatureCollection
  timeStamp="<TMPL_var responseTimestamp>"
  numberMatched="<TMPL_var stationsMatched>"
  numberReturned="<TMPL_var stationsReturned>"
  xmlns:wfs="http://www.opengis.net/wfs/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:gco="http://www.isotc211.org/2005/gco"
  xmlns:ins_base="http://inspire.ec.europa.eu/schemas/base/3.3"
  xmlns:ins_base2="http://inspire.ec.europa.eu/schemas/base2/2.0"
  xmlns:ef="http://inspire.ec.europa.eu/schemas/ef/4.0"
  xsi:schemaLocation="http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd
  http://inspire.ec.europa.eu/schemas/ef/4.0 http://inspire.ec.europa.eu/schemas/ef/4.0/EnvironmentalMonitoringFacilities.xsd">
  <TMPL_if (stationsMatched > 0) ><TMPL_if DEFINED(stations)><TMPL_foreach stations AS station>
  <wfs:member>
    <ef:EnvironmentalMonitoringFacility gml:id="<TMPL_var CONCAT("emf-",station.__index__ + 1,"-fmisid-",station.fmisid)>">
      <gml:identifier codeSpace="http://xml.fmi.fi/namespace/stationcode/fmisid"><TMPL_var station.fmisid></gml:identifier><TMPL_if DEFINED(station.name)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/name"><TMPL_var station.name></gml:name></TMPL_if><TMPL_if DEFINED(station.lpnn)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/lpnn"><TMPL_var station.lpnn></gml:name></TMPL_if><TMPL_if DEFINED(station.geoid)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/geoid"><TMPL_var station.geoid></gml:name></TMPL_if><TMPL_if DEFINED(station.wmo)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/wmo"><TMPL_var station.wmo></gml:name></TMPL_if><TMPL_if DEFINED(station.livi)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/livi"><TMPL_var station.livi></gml:name></TMPL_if><TMPL_if DEFINED(station.icao)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/icao"><TMPL_var station.icao></gml:name></TMPL_if><TMPL_if DEFINED(station.awsmetar)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/awsmetar"><TMPL_var station.awsmetar></gml:name></TMPL_if><TMPL_if DEFINED(station.syke)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/syke"><TMPL_var station.syke></gml:name></TMPL_if><TMPL_if DEFINED(station.nordlist)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/nordlist"><TMPL_var station.nordlist></gml:name></TMPL_if><TMPL_if DEFINED(station.airquality)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/airquality"><TMPL_var station.airquality></gml:name></TMPL_if><TMPL_if DEFINED(station.radar)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/radar"><TMPL_var station.radar></gml:name></TMPL_if><TMPL_if DEFINED(station.image)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/locationcode/image"><TMPL_var station.image></gml:name></TMPL_if><TMPL_if DEFINED(station.region)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/location/region"><TMPL_var station.region></gml:name></TMPL_if><TMPL_if DEFINED(station.country)>
      <gml:name codeSpace="http://xml.fmi.fi/namespace/location/country"><TMPL_var station.country></gml:name></TMPL_if><TMPL_if DEFINED(station.description)>
      <gml:description><TMPL_var station.description></gml:description></TMPL_if><TMPL_if DEFINED(station.additionalDescription)>
      <gml:additionalDescription><TMPL_var station.additionalDescription></gml:additionalDescription></TMPL_if>
      <ef:inspireId>
        <ins_base:Identifier>
          <ins_base:localId><TMPL_var station.fmisid></ins_base:localId>
          <ins_base:namespace><TMPL_if DEFINED(station.inspireNamespace)><TMPL_var station.inspireNamespace><TMPL_else>fi.fmi.station.id</TMPL_if></ins_base:namespace>
        </ins_base:Identifier>
      </ef:inspireId><TMPL_if DEFINED(station.mediaMonitored)><TMPL_foreach station.mediaMonitored AS media>
      <ef:mediaMonitored xlink:href="http://inspire.ec.europa.eu/codeList/MediaValue/<TMPL_var media>" xlink:title="<TMPL_var media>"/></TMPL_foreach><TMPL_else><ef:mediaMonitored/></TMPL_if><TMPL_comment>
      <ef:onlineResource><TMPL_if station.onlineResource><TMPL_var station.onlineResource><TMPL_else>http://ilmatieteenlaitos.fi/havaintoasemat/</TMPL_if></ef:onlineResource></TMPL_comment><TMPL_if station.observingCapabilities><TMPL_foreach station.observingCapabilities AS capability>
      <ef:observingCapability>
        <ef:ObservingCapability gml:id="<TMPL_var CONCAT("oc-",station.fmisid,"-",capability.__index__ + 1)>">
          <ef:observingTime>
            <gml:TimePeriod gml:id="<TMPL_var CONCAT("oc-tp-",station.__index__ + 1,"-",capability.__index__ + 1)>">
              <gml:beginPosition><TMPL_var capability.beginPosition></gml:beginPosition>
              <gml:endPosition<TMPL_if IN_SET(capability.endPosition,"9999-12-31T00:00:00Z")> indeterminatePosition="now"/><TMPL_else>><TMPL_var capability.endPosition></gml:endPosition></TMPL_if>
            </gml:TimePeriod>
          </ef:observingTime>
          <ef:processType<TMPL_if capability.processType> xlink:href="http://inspire.ec.europa.eu/codeList/ProcessTypeValue/<TMPL_var capability.processType>"</TMPL_if>/>
          <ef:resultNature<TMPL_if DEFINED(capability.resultNature)> xlink:href="http://inspire.ec.europa.eu/codeList/ResultNatureValue/<TMPL_var capability.resultNature>"</TMPL_if>/>
          <ef:procedure<TMPL_comment>xlink:href="/sensor-assembly?stationId=fmisid-<TMPL_var station.fmisid>&amp;since=1844-07-01"</TMPL_comment>/>
          <ef:observedProperty xlink:title="<TMPL_var capability.measurandName>" xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/meta?observableProperty=observation&amp;param=<TMPL_var capability.measurandCode><TMPL_if DEFINED(capability.measurandAggregatePeriod)>_<TMPL_var capability.measurandAggregatePeriod><TMPL_if DEFINED(capability.measurandAggregateFunction)>_<TMPL_var capability.measurandAggregateFunction></TMPL_if></TMPL_if>&amp;language=<TMPL_var language>&amp;"/>
        </ef:ObservingCapability>
      </ef:observingCapability></TMPL_foreach></TMPL_if><TMPL_if station.involvedInList><TMPL_foreach station.involvedInList AS involvedIn>
      <ef:involvedIn>
        <ef:EnvironmentalMonitoringActivity gml:id="<TMPL_var CONCAT("ema-",station.__index__ + 1,"-",involvedIn.__index__ + 1)>">
          <ef:activityTime>
            <gml:TimePeriod gml:id="<TMPL_var CONCAT("ema-tp-",station.__index__ + 1,"-tp-",involvedIn.__index__ + 1)>">
              <gml:beginPosition><TMPL_var involvedIn.beginPosition></gml:beginPosition>
              <gml:endPosition<TMPL_if IN_SET(involvedIn.endPosition,"9999-12-31T00:00:00Z")> indeterminatePosition="now"/><TMPL_else>><TMPL_var involvedIn.endPosition></gml:endPosition></TMPL_if>
            </gml:TimePeriod>
          </ef:activityTime>
          <ef:activityConditions>Automated ground weather condition observation activity for meteorological purposes</ef:activityConditions>
          <ef:responsibleParty>
            <ins_base2:RelatedParty>
              <ins_base2:organisationName>
                <gco:CharacterString>Finnish Meteorological Institute</gco:CharacterString>
              </ins_base2:organisationName>
            </ins_base2:RelatedParty>
          </ef:responsibleParty>
          <ef:inspireId>
            <ins_base:Identifier>
              <ins_base:localId><TMPL_var station.fmisid>.<TMPL_var involvedIn.beginPosition></ins_base:localId>
              <ins_base:namespace>fmi.station.activity.id</ins_base:namespace>
            </ins_base:Identifier>
          </ef:inspireId>
          <ef:uses xlink:title="monitoring network" xlink:href="http://wfs.fmi.fi?SERVICE=WFS&amp;VERSION=2.0&amp;REQUEST=getFeature&amp;STOREDQUERY_ID=getObservationNetworks&amp;NETWORK_ID=fi:fmi:obsnetwork:aws" />
        </ef:EnvironmentalMonitoringActivity>
      </ef:involvedIn></TMPL_foreach></TMPL_if><TMPL_if station.position>
      <ef:representativePoint>
        <gml:Point gml:id="<TMPL_var CONCAT("point-",station.__index__ + 1)>" axisLabels="<TMPL_var axisLabels>" srsName="<TMPL_var projUri>" srsDimension="<TMPL_var projSrsDim>">
          <gml:pos><TMPL_var station.position></gml:pos>
        </gml:Point>
      </ef:representativePoint></TMPL_if>
      <ef:measurementRegime xlink:href="http://inspire.ec.europa.eu/codelist/MeasurementRegimeValue/<TMPL_if DEFINED(station.measurementRegimeValue)><TMPL_var station.measurementRegimeValue><TMPL_else>continuousDataCollection</TMPL_if>"/>
      <ef:mobile><TMPL_var station.mobile></ef:mobile><TMPL_if station.opActivityPeriods><TMPL_foreach station.opActivityPeriods AS period>
      <ef:operationalActivityPeriod>
        <ef:OperationalActivityPeriod gml:id="<TMPL_var CONCAT("oap-",station.__index__ + 1,"-",period.__index__ +1)>">
          <ef:activityTime>
            <gml:TimePeriod gml:id="<TMPL_var CONCAT("oap-tp-",station.__index__ + 1,"-",period.__index__ +1)>">
              <gml:beginPosition><TMPL_var period.beginPosition></gml:beginPosition>
              <gml:endPosition<TMPL_if IN_SET(period.endPosition,"9999-12-31T00:00:00Z")> indeterminatePosition="now"/><TMPL_else>><TMPL_var period.endPosition></gml:endPosition></TMPL_if>
            </gml:TimePeriod>
          </ef:activityTime>
        </ef:OperationalActivityPeriod>
      </ef:operationalActivityPeriod></TMPL_foreach><TMPL_else><ef:operationalActivityPeriod/></TMPL_if><TMPL_if DEFINED(station.networks)><TMPL_foreach station.networks AS network>
      <ef:belongsTo xlink:title="<TMPL_var network.name>" xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wfs<TMPL_if language>/<TMPL_var language></TMPL_if>?request=getFeature&amp;storedquery_id=fmi::ef::networks&amp;networkid=<TMPL_var network.id>&amp;"/></TMPL_foreach></TMPL_if>
    </ef:EnvironmentalMonitoringFacility>
  </wfs:member></TMPL_foreach></TMPL_if></TMPL_if>
</wfs:FeatureCollection>
