<TMPL_if DEFINED(param)>xlink:href="<TMPL_var protocol><TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/meta?observableProperty=forecast&amp;param=<TMPL_var param>&amp;language=<TMPL_var language><TMPL_if DEFINED(dataset.params.units)>&amp;units=<TMPL_var dataset.params.units[0]></TMPL_if>"<TMPL_else>xlink:href="<TMPL_var protocol><TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/meta?observableProperty=forecast&amp;param=<TMPL_foreach dataset.params.param as obsParam><TMPL_unless obsParam.__first__>,</TMPL_unless><TMPL_var obsParam></TMPL_foreach>&amp;language=<TMPL_var language><TMPL_if DEFINED(dataset.params.units)>&amp;units=<TMPL_var dataset.params.units[0]></TMPL_if>"</TMPL_if>