xlink:href="<TMPL_var protocol><TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wfs/<TMPL_var language>?request=GetFeature&amp;storedquery_id=fmi::ef::observationstations&amp;fmisid=<TMPL_foreach group.obsStationList as obsStation><TMPL_unless obsStation.__first__>,</TMPL_unless><TMPL_var obsStation.fmisid></TMPL_foreach>"